.cards__item {
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-child(3) {
  margin: 0px;
}

.cards__item:nth-child(1) {
  width: 230px;
} /* уменьшил ширину карточки, что бы текст был ровно как на макете */
