.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
* {
  box-sizing: border-box;
}
/* header */
.header {
  /* background-color: aqua; */
  align-items: center;
  display: flex;
  align-items: center;
}

.header__logo {
  top: 30px;
  left: 64px;
  z-index: 100;
  position: absolute;
  padding-top: 10px;
  background-image: url("/images/logo_place_header.svg");
  width: 228px;
  height: 32px;
}

.header__square-pic {
  top: 64px;
  right: 0px;
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  z-index: 1;
}

.header__main-illustration {
  bottom: 0px;
  right: 0px;
  position: absolute;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__title {
  z-index: 99;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin-left: 64px;
}

.header__subtitle {
  z-index: 98;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}
/* Анимация для ссылки */
.subtitle__link {
  color: #2f80ed;
  overflow: hidden;
  background: linear-gradient(
    to right,
    midnightblue,
    rgb(154, 12, 243) 50%,
    #2f80ed 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 700ms ease;
  text-decoration: none;
}
.subtitle__link:hover {
  background-position: 0 100%;
}

/* description
 */
.description {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__title {
  margin: 0px;
  width: 175px;
  font-size: 18px;
  line-height: 1.2rem;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph {
  margin: 0px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.two-columns__paragraph:not(:first-child):not(:last-child) {
  margin: 30px 0px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/* digits */

.digits {
  text-align: center;
}

.digits__section-title {
  font-size: 60px;
  line-height: 1.15rem;
  font-weight: 600;
  width: 60%;
  margin: 100px auto 20px;
}

.digits__section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  margin: 60px auto 0px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15rem;
  font-weight: 600;
  margin: 0px 0px 20px;
  text-align: left;
}

.table__text {
  font-size: 18px;
  line-height: 1.2rem;
  font-weight: normal;
  text-align: left;
  margin: 0px 0px 20px;
}

.second-table__text {
  font-size: 18px;
  line-height: 1.2rem;
  font-weight: normal;
  text-align: left;
  margin: 20px 0px 0px;
}

.digits__inner {
  display: flex;
  justify-content: center;
}

.digits__table {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}
