.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;

  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* header */

.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  top: 30px;
  left: 64px;
  z-index: 5;
  position: absolute;
  background-image: url("/images/logo_place_header.svg");
}

.logo_place_footer {
  background-image: url("/images/logo_place_footer.svg");
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  top: 64px;
  right: 0px;
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  z-index: 1;
}

.header__main-illustration {
  bottom: 0px;
  right: 0px;
  position: absolute;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__title {
  z-index: 4;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin-left: 64px;
}

.header__subtitle {
  margin: 0px 0px;
  z-index: 3;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

/* description
 */
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  color: #2f80ed;
  margin: 0px;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.two-columns__paragraph:not(:first-child):not(:last-child) {
  margin: 30px 0px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/* digits */

.digits {
  text-align: center;
  padding: 100px 0px;
}

.section-title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  width: 60%;
  margin: 0px auto;
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  margin: 20px auto 0px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0px 0px 20px;
  text-align: left;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-align: left;
  margin: 0px 0px;
}

.second-table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-align: left;
  margin: 20px 0px 0px;
}

.table {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

/* feynman */

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 890px;
  background-color: #f2f2f2;
}

.feynman__text {
  z-index: 1;
}
.feynman__title {
  z-index: 1;
  margin: 100px auto 0px;
  text-align: center;
  max-width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
}

.feynman__subtitle {
  z-index: 1;
  text-align: center;
  margin: 70px 0px 0px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__logo {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 867px;
  height: 637px;
}

/* kaufman */

.kaufman {
  z-index: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #1f1f1f;
  color: #f2f2f2;
  padding: 90px 0px;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  z-index: 2;
}

.kaufman__triangle {
  background-image: url("/images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  top: 0px;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: -1;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: #f2f2f2;
}
.footer__columns {
  min-height: 250px;
  margin: 0px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  text-align: left;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0px;
}

.footer__column-heading {
  line-height: 25px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}

.footer__column-links {
  list-style-type: none;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
}
.footer__social-icon {
  margin-right: 10px;
}
.footer__column {
  list-style: none;
  text-align: left;
}
