.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;

  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
* {
  box-sizing: border-box;
}
/* header */

.logo {
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 100;
  position: absolute;
  padding-top: 10px;
  background-image: url("/images/logo_place_header.svg");
}

.header__square-pic {
  top: 64px;
  right: 0px;
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  z-index: 1;
}

.header__main-illustration {
  bottom: 0px;
  right: 0px;
  position: absolute;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__title {
  z-index: 99;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin-left: 64px;
}

.header__subtitle {
  z-index: 98;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

/* description
 */
.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__title {
  color: #2f80ed;
  margin: 0px;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.two-columns__paragraph:not(:first-child):not(:last-child) {
  margin: 30px 0px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/* digits */

.digits {
  text-align: center;
  padding: 100px 0px;
}

.section-title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  width: 60%;
  margin: 0px auto;
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  margin: 20px auto 0px;
}

.heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0px 0px 20px;
  text-align: left;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-align: left;
  margin: 0px 0px 20px;
}

.second-table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-align: left;
  margin: 20px 0px 0px;
}

.table {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

/* feynman */

.feynman {
  position: relative;
  display: flex;
  justify-content: center;
  height: 890px;
  background-color: #f2f2f2;
}

.feynman__text {
  z-index: 1;
}

.feynman__title {
  margin-top: 100px;
  text-align: center;
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
}

.feynman__subtitle {
  text-align: center;
  margin-top: 70px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__logo {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 867px;
  height: 637px;
}

/* kaufman */

.kaufman {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #1f1f1f;
  color: #f2f2f2;
  padding: 90px 0px;
}

.table__cell-theme-dark {
  margin-top: 80px;
  width: 200px;
  z-index: 2;
}

.kaufman__triangle {
  background-image: url("/images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  top: 0px;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: 1;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  min-height: 250px;
}
.columns {
  margin: 0px auto;
  width: 90%;

  display: flex;
  justify-content: space-between;
}

.footer__column {
  flex: basis 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  background-image: url("/images/logo_place_footer.svg");
  position: static;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 100;
  padding-top: 10px;
}

.footer-author {
  text-align: left;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0px;
}

.footer__column-heading {
  line-height: 25px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__column-links {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer-content {
  list-style: none;
  text-align: left;
}

.vk::before {
  content: "";
  display: inline-block;
  background: url("/images/vk_color_white.svg") center center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.facebook::before {
  content: "";
  display: inline-block;
  background: url("/images/facebook_color_white.svg") center center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.inst::before {
  content: "";
  display: inline-block;
  background: url("/images/instagram_color_white.svg") center center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.end__nav {
  margin-bottom: 18px;
}

/* Анимации для ссылкок */
.link {
  color: #2f80ed;
  overflow: hidden;
  background: linear-gradient(
    to right,
    midnightblue,
    rgb(154, 12, 243) 50%,
    #2f80ed 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 700ms ease;
  text-decoration: none;
}
.link:hover {
  background-position: 0 100%;
}

.link-nav {
  color: white;
  overflow: hidden;
  background: linear-gradient(
    to right,
    midnightblue,
    rgb(154, 12, 243) 50%,
    #f2f2f2 0%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 700ms ease;
  text-decoration: none;
}
.link-nav:hover {
  background-position: 0 100%;
}
